/* disable selection for game feel */
* { user-select: none; -webkit-user-select: none; -webkit-touch-callout: none; }
html,body,#renderCanvas { width:100%; height:100%; margin:0; padding:0; }
#renderCanvas { display:block; touch-action:none; background: linear-gradient(#84c0ff,#0d2a42); }
#hud { position: absolute; left: 12px; top: 12px; z-index: 90; color: #fff; font-weight:700; }
#hud button { margin-left:12px; }
