name: Build Godot Web Game

on:
  workflow_dispatch:
    inputs:
      game_name:
        description: "Game name"
        required: true
        default: "run"
      template:
        description: "Template folder"
        required: true
        default: "runner"

      jobs:
      build:
         runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget

      - name: Download Godot Headless
        run: |
          wget https://downloads.tuxfamily.org/godotengine/4.2.1/Godot_v4.2.1-stable_linux.headless.64.zip
          unzip Godot_v4.2.1-stable_linux.headless.64.zip
          chmod +x Godot_v4.2.1-stable_linux.headless.64
          sudo mv Godot_v4.2.1-stable_linux.headless.64 /usr/local/bin/godot
          godot --version

      - name: Install Export Templates
        run: |
          mkdir -p ~/.local/share/godot
          wget https://downloads.tuxfamily.org/godotengine/4.2.1/Godot_v4.2.1-stable_export_templates.tpz
          unzip Godot_v4.2.1-stable_export_templates.tpz -d ~/.local/share/godot
          rm Godot_v4.2.1-stable_export_templates.tpz

      - name: Export Web Build
        run: |
          mkdir -p builds/${{ github.event.inputs.game_name }}
          godot --headless \
            --path games/${{ github.event.inputs.template }} \
            --export-release "Web" builds/${{ github.event.inputs.game_name }}

      - name: List Build
        run: |
          ls -lh builds/${{ github.event.inputs.game_name }}
