name: Build Godot Web Game

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Godot (NO MONO)
        uses: chickensoft-games/setup-godot@v2
        with:
          version: 4.2.1
          godot-sharp-release: none
          use-dotnet: false
          include-templates: true

      - name: Verify Godot
        run: godot --version

      - name: Create build folder
        run: mkdir -p builds/game1

      - name: Export Web
        run: |
          godot --headless --export-release "Web" builds/game1/index.html

      - name: Commit build
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add builds
          git commit -m "Auto web build" || echo "No changes"
          git push
