name: Build Godot Web Game

on:
  workflow_dispatch:
    inputs:
      game_name:
        description: "Output build folder name"
        required: true
        default: "runner"
      template:
        description: "Game template folder inside /games"
        required: true
        default: "runner"

  repository_dispatch:
    types: [build_game]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GAME_NAME: ${{ github.event.inputs.game_name || github.event.client_payload.game_name || github.event.client_payload.game_id }}
      TEMPLATE:  ${{ github.event.inputs.template || github.event.client_payload.template }}

    steps:
      - uses: actions/checkout@v4

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip

      - name: Install Godot 4.2.1
        run: |
          wget https://github.com/godotengine/godot/releases/download/4.2.1-stable/Godot_v4.2.1-stable_linux.x86_64.zip
          unzip Godot_v4.2.1-stable_linux.x86_64.zip
          chmod +x Godot_v4.2.1-stable_linux.x86_64
          sudo mv Godot_v4.2.1-stable_linux.x86_64 /usr/local/bin/godot
          godot --version

      - name: Install export templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/4.2.1.stable
          wget https://github.com/godotengine/godot/releases/download/4.2.1-stable/Godot_v4.2.1-stable_export_templates.tpz
          unzip Godot_v4.2.1-stable_export_templates.tpz -d ~/.local/share/godot/export_templates/4.2.1.stable
          mv ~/.local/share/godot/export_templates/4.2.1.stable/templates/* ~/.local/share/godot/export_templates/4.2.1.stable/
          rm -rf ~/.local/share/godot/export_templates/4.2.1.stable/templates

      - name: Prepare build folder
        run: |
          mkdir -p builds/$GAME_NAME

      - name: Export Web (CORRECT)
        run: |
          godot --headless \
            --path games/$TEMPLATE \
            --export-release "Web" \
            builds/$GAME_NAME

      - name: Verify output
        run: |
          ls -R builds/$GAME_NAME
