name: Build Godot Web Game

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v2
        with:
          version: 4.2.1
          include-templates: true
          use-dotnet: false

      - name: Create build folder
        run: |
          mkdir -p builds/job_${{ github.run_id }}

      - name: Export Web
        run: |
          godot --headless \
            --export-release "Web" \
            builds/job_${{ github.run_id }}/index.html

      - name: Commit build
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add builds/
          git commit -m "Add web build ${{ github.run_id }}"
          git push
